/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}



.header {
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    color: #f9faf8;
    font-size: 24px;
    height: 10vh;
    align-items: center;
    font-family: "Roboto";
    padding: 10px 30px 10px 30px;
}
nav li {
    list-style: none;
    display: inline;
    color: #e5e7eb;
    font-size: 18px;
    padding: 10px;
}

h1 {
    padding: 10px;
    font-weight: bold;
}

.main {
    display: flex;
    background-color: #1f2937;
    justify-content: space-around;
    padding: 20px;
}

.title {
    display: flex;
    flex-direction: column;
    text-align: left;
    height: 25vh;
    width: 30%;
    font-family: "Roboto";
}

.title h2 {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900;
    line-height: 50px;
}

.title p {
    color: #e5e7eb;
    font-size: 18px;
    line-height: 30px;
}

.placeholder {
    background-color: rgba(229, 231, 235, 0.3);
    margin-bottom: 20px;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #e5e7eb;
}

.title button {
    width: 15%;
    background-color: #3882f6;
    color: white;
    border: none;
    border-radius: 10px;
    height: 30px;
}

.info {
    display: flex;
    height: 25vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Roboto";
    margin: 20px;
    padding: 20px;
}

.empty {
    height: 150px;
    width: 150px;
    border: #3882f6 solid 2px;
    border-radius: 10px;
}

.card-block {
    display: flex;
    justify-content: center;
    width: 30%;
    align-items: center;
    text-align: center;
    gap: 20px;
    margin: 10px;
}

.info h2 {
    color: #1f2937;
    font-size: 36px;
    font-weight: 900;
    padding: 10px;
}

.quote {
    height: 25vh;
    background-color: #e5e7eb;
    display: flex;
    justify-content: center;
    align-items: center;
}

.thor-quote {
    width: 80%;
}

.quote q {
    color: #1f2937;
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
}

.quote span {
    font-size: 24px;
    font-weight: bold;
    color: #1f2937;
}

.action {
    height: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.call-to {
    background-color: #3882f6;
    width: 50%;
    height: 50%;
    border-radius: 10px;
    color: #e5e7eb;
    font-family: "Roboto";
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.call h3 {
    font-size: 24px;
    font-weight: bold;
}

.call {
    width: 60%;
}

.action-button {
    border: #e5e7eb 2px solid;
    border-radius: 10px;
    color: #e5e7eb;
    background-color: #3882f6;
    height: 40%;
    width: 20%;
}

footer {
    background-color: #1f2937;
    color: #e5e7eb;
    font-size: 15px;
    font-family: "Roboto";
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}